* {margin:0;
	padding:0;
	/*to avoid a gap*/}

body {background-color:#DBDBDB;
		background-position:center;
		background-repeat:no-repeat;
		background-attachment:fixed;
		background-size:cover;
		margin:0;
		padding:0;
		text-align:center;}

h1 {font-family: 'Arial', sans-serif;
	font-size:100%;
	color:white;
	text-align: center;
	background-color:blue;}


g[class='note'] {
  color: red;
}

.highlighted {
  fill: blue
}

#controls {
  float: right;
}
